{% extends 'main/base.html' %}


{% block title %}
    Order List
{% endblock %}


{% block content %}
    <h1>Order list for: {{ ls.name }} </h1>
    <h3>Incomplete orders: </h3>
    {% for order in ls.order_set.all %}
        {% if order.complete == False %}
            <ul>
                <li><a href="http://127.0.0.1:8000/view_order/{{ ls.name }}/{{ order.number }}">Order number: {{ order.number }}</a></li>
            </ul>
        {% endif %}
    {% endfor %}

    <h3>Completes orders: </h3>
    {% for order in ls.order_set.all %}
        {% if order.complete == True %}
 <ul>
                <li><a href="http://127.0.0.1:8000/view_order/{{ ls.name }}/{{ order.number }}">Order number: {{ order.number }}</a></li>
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}